* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}


/* === CSS TYPOGRAPHY === */

h1 {
    font-family: 'Cormorant Upright', serif;
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    padding-top: 25px;
    /*remove white space at the top due to a top margin.
    still set all sides to 0*/
    margin:0;
}

button {
  background-color: #FF4081;
  color: #fff;
  font-size: 1.3em;
  padding: 2px 15px;
  margin-top: 15px;
  border-radius: 3px;
  border: 2px solid #FF4081;
  transition: 0.3s all ease-in-out;


}
/* === CSS BACKGROUND === */
input {
  border: 3px solid #303F9F;
  border-radius: 5px;
  padding:5px 0 5px 5px;
  width:250px;
  color: #303F9F;
  font-size: 1.5em;
}


/* === CSS CLASSES === */

#header-style {}

.primary-color {
    background-color: #303F9F;
    height: 75px;
}

.search-components {
  text-align: center;
  margin-top: 50px;
}
/* === CSS IDS === */


/* === CSS MEDIA QUERIES === */

@media (min-width: 600px) {
    h1 {
        font-size: 4em;
    }


    button {


      font-size: 1.5em;

    }

    .query-item p {
      font-size: 1.2em;
    }
}


/* === CSS BOX MODEL === */
.query-container {
  max-width: 600px;
  margin: 60px auto;
}

.query-item {
  margin-top: 30px;
  background-color: #303F9F;
  padding:5px 30px 10px 30px;
  color: #fff;
  position: relative;
}

.query-item h2 {
  text-align: center;
  margin:0;
  font-weight: 600;
}

.query-item p {
  text-align: center;
  margin-bottom:0;
  margin-top:10px;
  font-weight: 400;
}


/* === CSS POSITIONING === */
.left-pink-block {
  position: absolute;
  top:0;
  left: 0px;
  height: 106px;
  width: 10px;
  background-color: #FF4081;
}

.right-pink-block {
  position: absolute;
  top:0;
  right: 0px;
  height: 106px;
  width: 10px;
  background-color: #FF4081;
}
/* === CSS PSUEDOCLASSES & PSEUDOELEMENTS === */
button:hover {
  background-color: #fff;
  border: 2px solid #FF4081;
  color: #FF4081;

}
