* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}


/* === CSS TYPOGRAPHY === */

h1 {
    color: #fff;
    font-size: 2.4em;
    text-align: center;
    padding-top: 25px;
    /*remove white space at the top due to a top margin.
    still set all sides to 0*/
    margin:0;
}

button{
  background-color: #FF4081;
  color: #fff;
  font-size: 1.4em;
  padding: 2px 15px;
  margin-top: 15px;
  border-radius: 3px;
  border: 2px solid #FF4081;
  transition: .4s all ease-in-out;
}

.capitalize {
  text-transform: capitalize;
}

a {
  color: #fff;
  text-decoration: underline;
  transition: 0.2s all ease-in-out;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #303F9F;
}

#random-article {
  color: #FF4081;
  text-decoration: none;
  transition: .4s all ease-in-out;
  font-size: 1.35em;
}

.query-item p {
  font-size: 1.2em;
}
/* === CSS BACKGROUND === */
input {
  border: 3px solid #303F9F;
  border-radius: 5px;
  padding:5px 0 5px 5px;
  width:250px;
  color: #303F9F;
  font-size: 1.5em;
  transition: .3s all ease-in-out;
}


/* === CSS CLASSES === */

.align-text-center {
  text-align: center;
}

.mar-top-15 {
  margin-top: 15px;
}
.primary-color {
    background-color: #303F9F;
    height: 85px;
}

.search-components {
  text-align: center;
  margin-top: 50px;
}
/* === CSS IDS === */

/* === CSS MEDIA QUERIES === */
@media (min-width: 500px) {
  h1 {
    font-size: 2.7em;
  }

  .query-item p {
    font-size: 1.4em;
  }

  input {
    width: 300px;
  }

  button, #random-article{
    font-size: 1.5em;
  }
}
@media (min-width: 700px) {
    h1 {
        font-size: 4em;
    }

.primary-color {
  height: 110px;
}

}

/* === CSS BOX MODEL === */
.query-container {
  max-width: 600px;
  margin: 60px auto;
}

.query-item {
  margin-top: 50px;
  background-color: #303F9F;
  padding:5px 30px 15px 30px;
  color: #fff;
  position: relative;
  transition: .4s all ease-in-out
}

.query-item h2 {
  text-align: center;
  margin:0;
  font-weight: 600;
  padding:10px;
}

.query-item p {
  text-align: center;
  margin-bottom:0;
  margin-top:8px;
  font-weight: 400;
}

/* === CSS PSUEDOCLASSES & PSEUDOELEMENTS === */
button:hover  {
  background-color: #fff;
  border: 2px solid #FF4081;
  color: #FF4081;
  cursor: pointer
}

#random-article:hover {
color: #303F9F;

}

.query-item:hover {
  background-color: #FF4081;
  color: #fff;
}
